{% extends 'main.html' %}

{% block content %}


<main>
    <div class="search__main">
        <div class="seacrh__container">
            <div>
                <h2>Search for <span>Projects</span></h2>
            </div>
            <form action="" method="get">
                <div>
                    <label for="formSearch">Search Your Funding</label>
                    <input id="formSearch" type="text" name="search" placeholder="Enter your funding">
                </div>
                <input type="submit">
            </form>
        </div>
    </div>
</main>

<div class="box__container">
    <div class="box"><img src="#"></div>
    <div class="box"><img src="#"></div>
    <div class="box"><img src="#"></div>
</div>

<div class="page">
    <div class="button" ></div>
    <div class="button" ></div>
    <div class="button" ></div>
</div>

{% endblock content %}