{% extends 'main.html' %}

{% block content %}


<form action="{% url 'fundings' %}" method="get" action="{% url 'fundings' %}">
    <input type="text" name="search" value="{{search}}" placeholder="필터링">
    <input type="submit" placeholder="찾기">
</form>

{% for field in fundings %}

<div>
    <img src="{{field.image.url}}" alt="funding image">
    <a href="{% url 'funding' field.id %}">{{field}}</a>
    <p>{{field.owner}}</p>
    <p>{{field.total_num}}</p>
    <p>{{field.percentage}}%</p>
    <p>{{field.dday}}</p>
</div>

{% endfor %}


<!-- <div class="page">
    <div class="button" ></div>
    <div class="button" ></div>
    <div class="button" ></div>
</div> -->

{% endblock content %}