{% extends 'main.html' %}

{% block content %}


<form action="{% url 'fundings' %}" method="get" action="{% url 'fundings' %}">
    <input type="text" name="search_funding" value="Enter funding name">
    <input type="submit" value="{{search_funding}}" placeholder="찾을 펀딩 이름을 적으세요">
</form>

{% for field in fundings %}

<div>
    <img src="{{field.image.url}}" alt="funding image">
    <a href="{% url 'funding' field.id %}">{{field}}</a>
</div>

{% endfor %}


<!-- <div class="page">
    <div class="button" ></div>
    <div class="button" ></div>
    <div class="button" ></div>
</div> -->

{% endblock content %}